/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: #d8dee9;
    }

    to {
        color: #d8dee9;
        background-color: #d08770;
    }
}

@keyframes blink-critical {
    70% {
      color: #d8dee9;
    }

    to {
        color: #d8dee9;
        background-color: #bf616a;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #353b49;
    color: #d8dee9;
    font-family: monospace;
    font-size: 14px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: #d08770;
    background: #353b49;
}

#battery.critical {
    color: #bf616a;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    /*font-weight: bold;*/
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: #d08770;
}

#cpu.critical {
    color: #bf616a;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: #d08770;
}

#memory.critical {
    color: #bf616a;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #5e81ac;
    border-top: 2px solid #d8dee9;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: #d08770;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: #bf616a;
}

#tray {
    /* No styles */
}

#window {
    /*font-weight: bold;*/
}

#workspaces button {
    border-top: 2px solid transparent;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.focused {
    border-color: #81a1c1;
    color: #d9dee9;
    background-color: #4c566a;
}

#workspaces button.urgent {
    border-color: #bf616a;
    color: #bf616a;
}
